<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | Shine Dental Surgery</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        html, body {
            overflow-x: hidden;
        }
        body {
            min-width: 0;
            margin: 0;
        }
        main.main-content {
            max-width: calc(100vw - 250px);
            width: auto;
            padding-top: 80px;
        }
        @media (max-width: 1024px) {
            main.main-content {
                max-width: 100vw;
                width: 100%;
                margin-left: 0 !important;
            }
        }
        @media print {
            * {
                margin: 0;
                padding: 0;
            }
            
            main {
                margin-left: 0 !important;
                padding: 0 !important;
                margin: 0;
            }
            
            .navbar,
            footer {
                display: none;
            }
        }
    </style>
</head>